@charset "iso-8859-1";
html, body{height:100%;} /* hack */

*{margin:0; padding:0}
* html #tudo{height:100%;}/* ie6*/


.lt0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #606060;
}

.lt1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #303030; }
	

.lt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #202020;
}

.lt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

		
/* pagina inicial do sistema */

#barra_logos dd a {
	display:block;
	float:left;
	overflow:hidden;
	text-indent:-9999px;
	height:80px;
	margin-left:24px;
	//margin-left:20px; /*IE 6 Hack */
	}	

#cnpq a{
	background-image: url(../img/lg_cnpq_pb.jpg);
	width: 175px;
	height: 80px;
}
#cnpq a:hover{
	background-image: url(../img/lg_cnpq_cor.jpg);
	width: 175px;
	height: 80px;
}

#ufpr a{
	background:url(../img/lg_ufpr_pb.jpg) no-repeat;
	width:125px;
	}	

#ufpr a:hover{
	background:url(../img/lg_ufpr_cor.jpg) no-repeat;
	width:125px;
	}	

#decigi a{
	background-image: url(../img/lg_decigi_pb.jpg);
	width: 85px;
	height: 80px;
}	

#decigi a:hover{
	background-image: url(../img/lg_decigi_cor.jpg);
	width: 85px;
	height: 80px;
}
		
#bar_titulo{
		width:100%;
		height:77px;
		font-family : Verdana,Tahoma;
		font-size : 7px;
		font-style : normal;
		text-align : center;	
		padding-bottom : 10px;
		padding-left : 10px;
		padding-right : 10px;
		background-color: rgb(255, 255, 255); 	
		}
		
#login {
	width: 500px;
	height: auto;
	border: medium solid #d3d3d3;
	background-color: #e9e9e9;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	text-align: center;
	/* background: url(../img/bg_login.jpg) repeat fixed center; */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
}

#indados {
	border: medium solid Silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	width: 200px;
}

#btdados {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	width: 140px;
}

#erro
	{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Red;	
	text-align: center;
	}

.erro{
			font-family:georgia;
			font-size:16px;
			color:red;
		}

		

