body {
	/* background-color: #2076A7; */
	background-color: #4791d2;
	margin-top: 50px;
}
.container
	{
		background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 20px;
		margin-top: 80px;
		margin-bottom: 80px;
		padding-top: 20px;
		padding-bottom: 40px;
	}
.search {
	background-image: url("../img/background/back_00.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*
	 background-attachment: fixed;
	 */
}
/* pANELS */
.jumbors
	{
		padding: 10px 15px;
		background-color: #f0f0f0;
		border: 1px solid #f8f8f8;
	}
table td {
	line-height: 200%;
	font-size: 13px;
}
.cnt {
	background: #f8f8f8;
	border: 1px solid #000000;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
}

#formFiled {

	min-height: 1024px;
}

/******************************* FONT SIZE *************/
.small {
	font-size: 10px;
}
.middle {
	font-size: 13px;
}
.big {
	font-size: 17px;
}
.superbig {
	font-size: 20px;
}
/******************************** LOGIN ****************/
.container-login {
	background: #fcfcfc;
	border: 2px solid #000000;
	border-radius: 10px;
}

/************************************ UL / LI **********/
.ul_editions
	{
		list-style-type: none;
		display: inline;
	}
.li_editions
	{
		color: blue;
		list-style-type: none;
		display: inline;
		width: 180px;
		
	}
	
.li_editions_year
	{
		/* display: block; */
		color: #404040;
		border: 1px solid #d0d0d0;
		font-size: 150%;
		list-style-type: none;
	}	

/****************************** SEARCH *****************/
#formWrapper {
	width: 100%;
	padding: 30px;
	margin: 30px auto;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	border-radius: 10px;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

/****** iframe PDF *****/
.iframe_pdf
	{
		border: 0px solid #000000;
		width: 100%;
		min-height: 500px;
		height: 100%;
	}

