{% include 'header.html' %}
<style>
    body {
        background-color: #000659;
    }

</style>
<body class="text-center">
	{% include 'menu_top.html' %}
	<div class="container">
		<div class="row">
			<div class="col-12" style="color: white;">
				<br/><br/>
				<h1 class="cover-heading">OAI-PMH</h1>
				<br/><br/>
				<h6>
					Sistema de Harvesting de artigos de Publicações Científicas
				</h6>
				<br/><br/>
				<span class="small">
					v0.18.05.04
				</span>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
</body>

